/* Estilos generales */
body,
html {
    font-family: "Inter", sans-serif;
    margin: 0;
    border: 0;
}

/* Estilos de la barra de navegación */

header {
    height: 152px;
    background-color: #ff3b3c; /* Ejemplo de color */
    padding: 18px 44px;
}
.search {
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
.search .form input {
    height: 62px;
    border-radius: 14px;
    border: none;
    width: 505px;
    padding: 20px;
    box-sizing: border-box;
  }
.search .social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.search .social ul li {
    padding: 0 10px;
  }
  .nav {
    padding: 10px 0;
  }
  .nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav ul li a {
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  }
  .nav ul li a:hover {
    text-decoration: underline;
  }


/* Estilos del cuerpo y en particular de la tarjeta del producto */

main {
    /* border: 1px solid #009145; */
    height: auto;
    padding-top: 18px;
    margin: 45px 180px;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
}

.columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.product-images-block, 
.product-description-block, 
.checkout-container {
    flex: 1;
  }

  /* Estilo para el bloque de imagenes del producto */
  .product-images-block {
    max-width: 100%;
    overflow: hidden; /* Asegúrate de que las imágenes no desborden el contenedor */
  }

  .product-images-block .thumbnail-container {
    max-width: 100%;
    overflow: hidden; /* Mantiene la imagen dentro del contenedor */
    margin: 5px; /* Ajusta el margen según sea necesario */
    border: 1px solid #ccc; /* Opcional, si deseas bordes */
  }

  .product-images-block .thumbnail-container img {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste completamente dentro del contenedor */
    object-position: center center; /* Centra la imagen en el contenedor */
  }

  /* Estilo para el bloque de descripción del producto */
.product-description-block {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: #fff;
  }

  .product-description-block .title {
    color: #333; /* Elige un color adecuado */
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
    font-weight:bolder;
    margin-top: 0;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  /* Estilo para el formulario y el selector */
.product-description-block .selector fieldset {
    border: 2px #919191 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-radius: 15px;
    font-size: 15px;
  }

  .selector .label {
    display: block;
    font-weight: bold;
    color: #333;
  }

  .product-description-block .selector select {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }

  /* Estilo para la descripción detallada */
  .product-description-block .detail-description {
    margin-top: 50px;
  }

  .product-description-block .detail-description span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

  .product-description-block .detail-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }

  /* .product-description-block .detail-description ul {
    margin-top: 10px;
  }

  .product-description-block .detail-description li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
  }

  .product-description-block .detail-description li strong {
    color: #333;
  } */
  
  .checkout-container {
    background-color: #ebebeb; /* Color de fondo claro */
    padding: 33px; /* Espaciado interno */
    border-radius: 2px; /* Bordes ligeramente redondeados */
  }

  .checkout-total-label {
    color: #ff3b3c; /* Color distintivo para el texto 'Total:' */
  }

  .checkout-total-price {
    font-size: 28px; /* Tamaño grande para el precio */
    font-weight: 700; /* Fuente en negrita */
    margin-top: 10px; /* Espacio por encima del precio */
  }

  .checkout-description {
    line-height: 20.4px; /* Espaciado de línea para mejorar la legibilidad */
    word-wrap: break-word; /* Asegura que el texto no desborde el contenedor */
  }
  
  

/* Estilos del pie de página */

footer {
    /* border: 1px solid #009145;  */
    min-height: 368px;
    background-color: #7525A7;
}

footer .container {
    display: flex;
    flex-direction: column;
}


.columns-container .col ul {
    padding: 0;
    list-style-type: none;
}

.columns-container .col ul li {
    padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 20px;
}

.columns-container .col ul li a {
    color: white;
    text-decoration: none;
  }

.copyright {
    border-top: 1px solid #ba53fb;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;
  }


  /* MEDIA QUERIES */
  
/* vista de tableta L*/

@media (max-width: 860px) {
    .search .form input {
        width: 300px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* vista de tableta M */

@media (max-width: 655px) {

    .search .logo img {
        width: 185px;
    }

    .search .form input {
        width: 185px;
    }

    .title-container span:first-child {
        font-size: 40px;
    }
    .title-container span:last-child {
        font-size: 90px;
        line-height: 80px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* vista de tableta M */

@media (max-width: 507px) {

    .search .logo img {
        width: 185px;
    }

    .search .form input {
        width: 110px;
    }

    .title-container span:first-child {
        font-size: 40px;
    }
    .title-container span:last-child {
        font-size: 90px;
        line-height: 80px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* vista de telefono L */

@media (max-width: 427px) {
    .search .logo img {
        width: 150px;
    }

    .search .form input {
        width: 110px;
    }

    .title-container span:first-child {
        font-size: 35px;
    }
    .title-container span:last-child {
        font-size: 80px;
        line-height: 80px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* vista de telefono M */

@media (max-width: 387px) {
    .search .logo img {
        width: 110px;
    }

    .search .form input {
        width: 70px;
    }

    .title-container span:first-child {
        font-size: 30px;
    }
    .title-container span:last-child {
        font-size: 70px;
        line-height: 80px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* vista de telefono S */

@media (max-width: 320px) {
    .search .logo img {
        width: 100px;
    }

    .search .form input {
        width: 50px;
    }

    .title-container span:first-child {
        font-size: 25px;
    }
    .title-container span:last-child {
        font-size: 60px;
        line-height: 80px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
